<div class='min-w-screen max-w-screen min-h-[100vh] h-[100vh] w-full'>
    <div class='w-full min-h-[100%] h-[100%] flex justify-center items-center'>

        <div class='bg-[#313131] shadow-lg rounded-md p-3 py-4 w-[88%] sm:w-[85%] md:w-[50%] lg:w-[40%]'>
            <div class='w-full h-full flex flex-col items-center gap-3'>
                <!-- LOGO IMAGE -->
                <img class='select-none w-[25%] mx-auto' src='images/expense_flow_logo.png' />
                <h1 class='select-none text-[#289f9b] text-2xl font-bold lg:text-3xl'>Expense Flow</h1>
                <div class='flex flex-col items-center'>
                    <h3 class='font-[600] text-lg sm:text-xl'>Sign In</h3>
                    <p class='text-[gray] text-sm sm:text-base'>
                        Not Registered Yet? <a routerLink='/signup'
                            class='font-[500] text-[#289f9b] hover:opacity-80'>Sign Up</a>
                    </p>
                </div>

                <form #loginForm (ngSubmit)='signIn();' [formGroup]='signInForm'
                    class='w-full flex flex-col gap-3 mt-4'>
                    <div>
                        <label class='select-none' for='email'>Email</label>
                        <p-iconfield>
                            <p-inputicon class='pi pi-user' />
                            <input autocomplete='off' class='font-normal' type='text' pInputText placeholder='johnDoe25@example.com'
                                formControlName='email' name='email' id='email' />
                        </p-iconfield>
                    </div>

                    <div>
                        <label class='select-none' for='password'>Password</label>
                        <p-iconfield>
                            <p-inputicon class='pi pi-key' />
                            <input autocomplete='off' class='font-normal' type='password' pInputText placeholder='••••••••'
                                formControlName='password' name='password' id='password' />
                        </p-iconfield>
                    </div>
                    <p-message severity='error' size='small' *ngIf='signInError' variant='simple'>
                        {{signInError}}
                    </p-message>

                    <p-button [disabled]='loading()' type='submit' class='custom-sign-in-btn mt-2' label='SIGN IN' [raised]='true' />
                </form>

                <p-divider align='center'>
                    <b>or</b>
                </p-divider>

                <!-- GOOGLE BUTTON -->
                <div id='google-btn'></div>

            </div>
        </div>
    </div>
</div>