.p-drawer-right {
    width: 100% !important;

    .p-drawer-content {
        background: #fff !important;
    }
}

@media screen and (min-width: 768px) {
    .p-drawer-right {
        width: 40% !important;
    }
}

@media screen and (min-width: 992px) {
    .p-drawer-right {
        width: 30% !important;
    }
}