.p-dataview-header {
    background: transparent !important;
    padding: 0 !important;
    padding-bottom: .5rem !important;

    .p-inputtext {
        background-color: #1a3d32 !important;
        border: 0 !important;
        color: #fff !important;
    }
}

.p-dataview-content {
    background: transparent !important;
    padding: .5rem 0!important;
}

.p-dataview {
    border: 0;
}