.p-inputgroupaddon {
    background-color: transparent !important;
    border: 1px solid #bebebe !important;
    border-right: 0 !important;
}

.p-password {
    width: 100% !important;
}

.p-inputtext {
    width: 100% !important;
    background: #fff !important;
    border-color: #bebebe !important;
    color: #000 !important;
}

.custom-sign-in-btn>.p-button {
    width: 100% !important;
    background-color: #f39c12 !important;
    border: #f39c12 !important;
    color: #fff !important;
    font-weight: 500 !important;

    &:hover {
        background-color: #27ae60 !important;
    }
}