<div 
    (click)='closeAllMenus()' 
    class='flex flex-col gap-4 min-h-[100%]'
>

    <div class='hidden items-center select-none lg:flex'>
        <img class='w-[40px] h-[40px]' src='images/cashbook_logo4.png' />&nbsp;&nbsp;
        <p class='text-xl tracking-wide'>Cashbook</p>
    </div>

    <div>
        <div class='flex flex-wrap items-stretch gap-2 md:gap-3'>
            <button
                [ngClass]='{"rounded-bl-none rounded-br-none": menus.duration, "rounded-bl-md rounded-br-md": !menus.duration}'
                (click)='toggleMenus("duration", menus.duration);$event.stopPropagation()'
                class='relative flex items-center justify-between bg-[#072419] min-w-[11rem] px-2 py-2 rounded-tr-md rounded-tl-md text-sm tracking-wider'
            >
                Duration: {{getDurationName(dataServFilters().duration())}}&nbsp;
                <i class='fa-solid fa-caret-down'></i>
                <ng-container *ngIf='menus.duration'>
                    <ng-container *ngTemplateOutlet='durationMenu'></ng-container>
                </ng-container>
            </button>

            <button
                [ngClass]='{"rounded-bl-none rounded-br-none": menus.type, "rounded-bl-md rounded-br-md": !menus.type}'
                (click)='toggleMenus("type", menus.type);$event.stopPropagation()'
                class='relative flex items-center justify-between bg-[#072419] min-w-[10rem] px-2 py-2 rounded-tr-md rounded-tl-md text-sm tracking-wider'
            >
                Type: {{getTypeName(dataServFilters().type())}}&nbsp;
                <i class='fa-solid fa-caret-down'></i>
                <ng-container *ngIf='menus.type'>
                    <ng-container *ngTemplateOutlet='typeMenu'></ng-container>
                </ng-container>
            </button>

            <button
                [ngClass]='{"rounded-bl-none rounded-br-none": menus.mode, "rounded-bl-md rounded-br-md": !menus.mode}'
                (click)='toggleMenus("mode", menus.mode);$event.stopPropagation()'
                class='relative flex items-center justify-between bg-[#072419] min-w-[12rem] px-2 py-2 rounded-tr-md rounded-tl-md text-sm tracking-wider'
            >
                Payment Mode: {{getModeName(dataServFilters().mode())}}&nbsp;
                <i class='fa-solid fa-caret-down'></i>
                <ng-container *ngIf='menus.mode'>
                    <ng-container *ngTemplateOutlet='modeMenu'></ng-container>
                </ng-container>
            </button>
        </div>

        <div class='flex flex-col gap-2 md:flex-row mt-4'>
            <!-- CASH IN DIV -->
            <div class='p-2 px-4 flex-1 flex items-center gap-4 rounded-[4px] shadow-lg bg-[#1a3d32]'>
                <i class='text-[#03d47c] rounded-full text-sm fa-solid fa-plus'></i>
                <div class='flex flex-col gap-1'>
                    <p class='text-sm tracking-wide font-[600] italic'>TOTAL IN</p>
                    <p class='text-sm tracking-wide'>
                        <i class='text-[13px] fa fa-indian-rupee-sign'></i>&nbsp;{{cashStats().cashIn()| number: '1.2-2'}}
                    </p>
                </div>
            </div>
            <!-- CASH OUT DIV -->
            <div class='p-2 px-4 flex-1 flex items-center gap-4 rounded-[4px] shadow-lg bg-[#1a3d32]'>
                <i class='text-red-600 text-sm fa-solid fa-minus'></i>
                <div class='flex flex-col gap-1'>
                    <p class='text-sm tracking-wide font-[600] italic'>TOTAL OUT</p>
                    <p class='text-sm tracking-wide'>
                        <i class='text-[13px] fa fa-indian-rupee-sign'></i>&nbsp;{{cashStats().cashOut() | number: '1.2-2'}}
                    </p>
                </div>
            </div>
            <!-- NET BALANCE DIV -->
            <div class='p-2 px-4 flex-1 flex items-center gap-4 rounded-[4px] shadow-lg bg-[#1a3d32]'>
                <i class='text-[#4863d4] text-sm fa-solid fa-equals'></i>
                <div class='flex flex-col gap-1'>
                    <p class='text-sm tracking-wide font-[600] italic'>NET BALANCE</p>
                    <p [ngClass]='{"text-red-400": (cashStats().cashIn() - cashStats().cashOut()) < 0}' class='text-sm tracking-wide'>
                        <i class='text-[13px] fa fa-indian-rupee-sign'></i>&nbsp;{{(cashStats().cashIn() - cashStats().cashOut()) | number: '1.2-2'}}
                    </p>
                </div>
            </div>
        </div>
        <div class='flex flex-wrap gap-2 mt-4'>
            <button 
                (click)='openCashEntryDrawer("in")' type='button'
                class='p-2 rounded-sm bg-[seagreen] text-white font-bold text-[13px] min-w-[7.5rem] hover:bg-[#2b7d4e]'
            >
                <i class='fa-solid fa-plus'></i>&nbsp;&nbsp;Cash In
            </button>
            <button 
                (click)='openCashEntryDrawer("out")' type='button'
                class='p-2 rounded-sm bg-red-600 text-white font-bold text-[13px] min-w-[7.5rem] hover:bg-red-700'
            >
                <i class='fa-solid fa-minus'></i>&nbsp;&nbsp;Cash Out
            </button>
        </div>
    </div>

    <div class='w-full'>
        <ng-container [ngSwitch]='filtersApplied()'>
            <app-entries-table 
                *ngSwitchCase='false'
                (onTableRowClick)='openViewEntryDrawer($event);'
                (onPageChange)='onTabelPageChange($event);' 
                [pagination]='allCashBookEntries().pagination()' 
                [entries]='allCashBookEntries().data()'
            ></app-entries-table>
            <app-entries-table 
                *ngSwitchCase='true'
                (onTableRowClick)='openViewEntryDrawer($event);'
                (onPageChange)='onTabelPageChange($event, true);' 
                [pagination]='filteredCashBookEntries().pagination()' 
                [entries]='filteredCashBookEntries().data()'
            ></app-entries-table>
        </ng-container>
    </div>
</div>

<ng-template #durationMenu>
    <div 
        (click)='$event.stopPropagation()'
        class='z-50 rounded-bl-md rounded-br-md w-full absolute left-0 top-[100%] bg-[#072419] overflow-hidden'
    >
        <ul class='flex flex-col py-2'>
            <li 
                *ngFor='let menuItem of menuItems.duration'
                [ngClass]='{"bg-[#1a3d32] text-[#03d47c!important]": (filters.duration === menuItem.value)}'
                (click)='setDuration(menuItem.value)'
                class='py-1 text-[#bebebe] font-bold text-[12px] hover:bg-[#1a3d32] hover:text-[#03d47c]'
            >
                {{menuItem.label}}
            </li>
        </ul>

        <button 
            *ngIf='dataServFilters().duration() !== filters.duration && filters.duration !== "custom"'
            class='bg-[#03d47c] text-white font-bold w-full py-1 tracking-wider'
            (click)='applyDurationFilter()'
        >
            FILTER
        </button>
    </div>
</ng-template>

<ng-template #typeMenu>
    <div 
        (click)='$event.stopPropagation()'
        class='z-50 rounded-bl-md rounded-br-md w-full absolute left-0 top-[100%] bg-[#072419] overflow-hidden'
    >
        <ul class='flex flex-col py-2'>
            <li 
                *ngFor='let menuItem of menuItems.type'
                [ngClass]='{"bg-[#1a3d32] text-[#03d47c!important]": (filters.type === menuItem.value)}'
                (click)='setType(menuItem.value)'
                class='py-1 text-[#bebebe] font-bold text-[12px] hover:bg-[#1a3d32] hover:text-[#03d47c]'
            >
                {{menuItem.label}}
            </li>
        </ul>

        <button 
            *ngIf='dataServFilters().type() !== filters.type'
            class='bg-[#03d47c] text-white font-bold w-full py-1 tracking-wider'
            (click)='applyTypeFilter()'
        >
            FILTER
        </button>
    </div>
</ng-template>

<ng-template #modeMenu>
    <div 
        (click)='$event.stopPropagation()'
        class='z-50 rounded-bl-md rounded-br-md w-full absolute left-0 top-[100%] bg-[#072419] overflow-hidden'
    >
        <ul class='flex flex-col py-2'>
            <li 
                *ngFor='let menuItem of menuItems.mode'
                [ngClass]='{"bg-[#1a3d32] text-[#03d47c!important]": (filters.mode === menuItem.value)}'
                (click)='setMode(menuItem.value)'
                class='py-1 text-[#bebebe] font-bold text-[12px] hover:bg-[#1a3d32] hover:text-[#03d47c]'
            >
                {{menuItem.label}}
            </li>
        </ul>

        <button 
            *ngIf='dataServFilters().mode() !== filters.mode'
            class='bg-[#03d47c] text-white font-bold w-full py-1 tracking-wider'
            (click)='applyModeFilter()'
        >
            FILTER
        </button>
    </div>
</ng-template>

<!-- SELECT CUSTOM DATE RANGE -->
<p-dialog
header='CUSTOM DATE RANGE' 
[modal]='true'  
(onHide)='closeCustomDurationModal()'
[(visible)]='showCustomDurationModal'
[style]='{"width": "25rem", "background": "#072419"}'
[breakpoints]='{ "1199px": "75vw", "575px": "90vw" }'
>
    <div class='custom-date-range-div flex justify-center bg-[#072419!important]'>
        <p-datepicker 
            [(ngModel)]='dateRange' 
            selectionMode='range' 
            readonlyInput='true' 
            class='bg-[#072419!important] w-full max-w-full' 
            [inline]='true' 
            [maxDate]='today'
        />
    </div>

    <button 
        [disabled]='dateRange.length !== 2'
        type='button' 
        class='bg-[orange] text-white text-sm cursor-pointer w-full mt-4 rounded-md py-2 hover:bg-[#03d47c]'
        (click)='applyDurationFilter()'
    >
        <i class='fa-solid fa-filter text-sm'></i>&nbsp;Filter
    </button>
</p-dialog>

<!-- CASH ENTRY DRAWER -->
<app-cash-entry-drawer 
    (onDrawerTypeChange)='setDrawerType($event);' 
    [drawerType]='drawerType'>
</app-cash-entry-drawer>

<!-- VIEW ENTRY DRAWER -->
<app-view-entry-drawer 
    *ngIf='viewEntryData' 
    (onCloseDrawer)='closeViewEntryDrawer();' 
    (onEditClick)='openUpdateCashEntryDrawer($event);'
    [entryData]='viewEntryData' 
    [isViewEntryDrawerOpen]='isViewEntryDrawerOpen'
></app-view-entry-drawer>

<!-- UPDATE ENTRY DRAWER -->
<app-update-entry-drawer
    *ngIf='updateEntryData'
    [entryData]='updateEntryData'
    (onCloseDrawer)='closeUpdateCashEntryDrawer();'
    (onSuccessfullUpdate)='viewEntryData=$event;'
></app-update-entry-drawer>