.p-datepicker {
    width: 100% !important;
}

.custom-date-range-div .p-datepicker-panel {
    background-color: transparent !important;

    .p-datepicker-header {
        background-color: transparent !important;
    }
}