<p-table 
    #expenseTable 
    [lazy]='true' 
    [paginator]='true' 
    [showCurrentPageReport]='true' 
    [first]='entriesPagination.currentPage * entriesPagination.pageSize'
    [rows]='entriesPagination.pageSize' 
    [rowsPerPageOptions]='[25, 50, 100]'
    [currentPageReportTemplate]='"Page "+(entriesPagination.currentPage + 1)+" of "+(getTotalPage())'
    [totalRecords]='entriesPagination.totalRecords' 
    (onLazyLoad)='onPageChange.emit($event)' 
    [value]='entries' 
    dataKey='_id'
    [tableStyle]='{"min-width": "60rem"}'
>
    <ng-template #caption>
        <div class='flex justify-between items-end'>
            <p-iconfield iconPosition='left'>
                <p-inputicon>
                    <i class='fa-solid fa-magnifying-glass'></i>
                </p-inputicon>
                <input pInputText type='text' pSize='small' placeholder='Search keyword' />
            </p-iconfield>
            <button (click)='removeAllFilters()' *ngIf='filtersApplied()' class='text-[13px] font-[500] tracking-wide text-red-400 hover:text-red-500'>
                <i class='fa-solid fa-filter-circle-xmark'></i>&nbsp;REMOVE FILTERS
            </button>
        </div>
    </ng-template>

    <ng-template #header>
        <tr>
            <th class='text-[12px]'>
                Expense Date
            </th>
            <th class='text-[12px]'>
                Category
            </th>
            <th class='text-[12px]'>
                Expense Total
            </th>
            <th class='text-[12px]'>
                Mode
            </th>
            <th class='text-[12px]'>
                Attachment
            </th>
        </tr>
    </ng-template>

    <ng-template #body let-entry let-expanded='expanded'>
        <tr (click)='openViewEntryDrawer(entry)' class='parent-row'>
            <td class='tracking-wide text-sm italic text-[#fff]'>
                {{ entry.date | date : 'dd-MMM-yyyy' }}
            </td>
            <td class='tracking-wide font-semibold text-sm'>{{ entry.category }}</td>
            <td class='font-semibold text-[#f87171] text-sm'>
                <i class='fa-solid fa-indian-rupee-sign text-sm'></i>&nbsp;{{ getExpenseTotal(entry.items)
                }}
            </td>
            <td class='tracking-wide text-[13px] italic text-[#fff]'>
                <p-tag 
                    [severity]='entry.mode === "online" ? "success" : "warn"' 
                    [value]='entry.mode | uppercase' 
                />
            </td>
            <td class='text-[13px] text-[#bebebe] tracking-wide hover:text-[aqua]'>
                <button (click)='openAttachmentPreview(entry.attachment);$event.stopPropagation();'>
                    <i class='fa-solid fa-paperclip'></i>&nbsp;Attachment
                </button>
                <!-- <p-button (click)='onEditExpenseClick.emit(entry);' class='edit-entry-btn'
                    icon='fa-solid fa-pencil' variant='text' size='small' />-->
            </td>
        </tr>
    </ng-template>
</p-table>